
  
.bg-uif-turquoise {
    background-color: #1abc9c !important;
  }
  .bg-uif-greensea {
    background-color: #16a085 !important;
  }
  .bg-uif-emerald {
    background-color: #2ecc71 !important;
  }
  .bg-uif-nephritis {
    background-color: #27ae60 !important;
  }
  .bg-uif-peterriver {
    background-color: #3498db !important;
  }
  .bg-uif-belizehole {
    background-color: #2980b9 !important;
  }
  .bg-uif-amethyst {
    background-color: #9b59b6 !important;
  }
  .bg-uif-wisteria {
    background-color: #8e44ad !important;
  }
  .bg-uif-wetasphalt {
    background-color: #34495e !important;
  }
  .bg-uif-midnightblue {
    background-color: #2c3e50 !important;
  }
  .bg-uif-sunflower {
    background-color: #f1c40f !important;
  }
  .bg-uif-orange {
    background-color: #f39c12 !important;
  }
  .bg-uif-carrot {
    background-color: #e67e22 !important;
  }
  .bg-uif-pumpkin {
    background-color: #d35400 !important;
  }
  .bg-uif-alizarin {
    background-color: #e74c3c !important;
  }
  .bg-uif-pomegranate {
    background-color: #c0392b !important;
  }
  .bg-uif-clouds {
    background-color: #ecf0f1 !important;
  }
  .bg-uif-silver {
    background-color: #bdc3c7 !important;
  }
  .bg-uif-concrete {
    background-color: #95a5a6 !important;
  }
  .bg-uif-asbestos {
    background-color: #7f8c8d !important;
  }
  
  .fg-uif-turquoise {
    color: #1abc9c !important;
  }
  .fg-uif-greensea {
    color: #16a085 !important;
  }
  .fg-uif-emerald {
    color: #2ecc71 !important;
  }
  .fg-uif-nephritis {
    color: #27ae60 !important;
  }
  .fg-uif-peterriver {
    color: #3498db !important;
  }
  .fg-uif-belizehole {
    color: #2980b9 !important;
  }
  .fg-uif-amethyst {
    color: #9b59b6 !important;
  }
  .fg-uif-wisteria {
    color: #8e44ad !important;
  }
  .fg-uif-wetasphalt {
    color: #34495e !important;
  }
  .fg-uif-midnightblue {
    color: #2c3e50 !important;
  }
  .fg-uif-sunflower {
    color: #f1c40f !important;
  }
  .fg-uif-orange {
    color: #f39c12 !important;
  }
  .fg-uif-carrot {
    color: #e67e22 !important;
  }
  .fg-uif-pumpkin {
    color: #d35400 !important;
  }
  .fg-uif-alizarin {
    color: #e74c3c !important;
  }
  .fg-uif-pomegranate {
    color: #c0392b !important;
  }
  .fg-uif-clouds {
    color: #ecf0f1 !important;
  }
  .fg-uif-silver {
    color: #bdc3c7 !important;
  }
  .fg-uif-concrete {
    color: #95a5a6 !important;
  }
  .fg-uif-asbestos {
    color: #7f8c8d !important;
  }
    
    .fg-uif-white {
    color: #ffffff !important;
  }